@page "/explore_about_us"
<h3>Aboutapp</h3>
<div id="div1">
        <h1>Welcome to HeartSync</h1>
        <img src="logo.png" alt="HeartSync Image" height="100px">
      </div>
      <div id="div2">
        <p>Developed by </p>
        <ol>
            <li>Lin Min Thaw</li>
            <li>Pyae Phyo Thu</li>
        </ol>
      </div>
    
@code {

}
